/* general style */
.pane-content {
    margin: 0;
    padding: 0;
}

div.mmd-content {
    width: 75%;
    display: inline-block;
    text-align: justify;
}

div.odd {
    background-color: #f4f4f4;
}
div.odd, div.even {
    padding: 10px 10px 10px 0;
}

/* general img */
div.mmd-img {
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
}
div.mmd-img img {
    width: 85%;
}

/* importance img */
div.mmd-title img {
    padding: 3px 10px 3px 3px ;
    float: left;
    height: 20px;
}

/* title */
div.mmd-title {
    width: 100%;
    font-size: 14px;
}
/* created */
div.mmd-created {
    width: 100%;
    padding: 3px 0;
    font-size: 10px;
    color: #5b616e;
    text-align: right;
}
/* read more */
.mmd-read-more {
    text-align: right;
}